CONFIG_HYPERVISOR_GUEST=y
CONFIG_KVM_XEN=y
CONFIG_TARGET_CORE=m
CONFIG_VIRT_DRIVERS=y
# CONFIG_ACRN_GUEST is not set
CONFIG_ARCH_CPUIDLE_HALTPOLL=y
CONFIG_ARCH_HAS_DMA_OPS=y
CONFIG_CPU_IDLE_GOV_HALTPOLL=y
# CONFIG_DRM_VMWGFX is not set
# CONFIG_DRM_XEN_FRONTEND is not set
# CONFIG_EFI_SECRET is not set
CONFIG_HALTPOLL_CPUIDLE=y
CONFIG_HVC_DRIVER=y
CONFIG_HVC_IRQ=y
CONFIG_HVC_XEN=y
# CONFIG_HVC_XEN_FRONTEND is not set
# CONFIG_HYPERV is not set
# CONFIG_ISCSI_TARGET is not set
# CONFIG_JAILHOUSE_GUEST is not set
CONFIG_KVM_GUEST=y
# CONFIG_LOOPBACK_TARGET is not set
# CONFIG_NITRO_ENCLAVES is not set
CONFIG_PARAVIRT=y
CONFIG_PARAVIRT_CLOCK=y
CONFIG_PARAVIRT_SPINLOCKS=y
# CONFIG_PARAVIRT_TIME_ACCOUNTING is not set
CONFIG_PCI_XEN=y
CONFIG_PVH=y
# CONFIG_REMOTE_TARGET is not set
CONFIG_SYS_HYPERVISOR=y
# CONFIG_TCG_XEN is not set
# CONFIG_TCM_FILEIO is not set
# CONFIG_TCM_IBLOCK is not set
# CONFIG_TCM_PSCSI is not set
# CONFIG_USB_XEN_HCD is not set
# CONFIG_VBOXGUEST is not set
CONFIG_VMGENID=m
CONFIG_X86_HV_CALLBACK_VECTOR=y
CONFIG_XEN=y
CONFIG_XENFS=m
CONFIG_XEN_ACPI=y
CONFIG_XEN_ACPI_PROCESSOR=m
CONFIG_XEN_AUTO_XLATE=y
CONFIG_XEN_BACKEND=y
CONFIG_XEN_BALLOON=y
CONFIG_XEN_BLKDEV_BACKEND=m
# CONFIG_XEN_BLKDEV_FRONTEND is not set
CONFIG_XEN_COMPAT_XENFS=y
CONFIG_XEN_DEV_EVTCHN=m
CONFIG_XEN_DOM0=y
CONFIG_XEN_EFI=y
# CONFIG_XEN_FBDEV_FRONTEND is not set
CONFIG_XEN_GNTDEV=m
CONFIG_XEN_GNTDEV_DMABUF=y
CONFIG_XEN_GRANT_DEV_ALLOC=m
CONFIG_XEN_GRANT_DMA_ALLOC=y
CONFIG_XEN_NETDEV_BACKEND=m
# CONFIG_XEN_NETDEV_FRONTEND is not set
CONFIG_XEN_PCIDEV_BACKEND=m
CONFIG_XEN_PCI_STUB=y
CONFIG_XEN_PRIVCMD=y
# CONFIG_XEN_PV is not set
CONFIG_XEN_PVCALLS_BACKEND=m
# CONFIG_XEN_PVCALLS_FRONTEND is not set
CONFIG_XEN_PVH=y
CONFIG_XEN_PVHVM=y
# CONFIG_XEN_PVHVM_GUEST is not set
CONFIG_XEN_PVHVM_SMP=y
CONFIG_XEN_SAVE_RESTORE=y
CONFIG_XEN_SCRUB_PAGES_DEFAULT=y
CONFIG_XEN_SCSI_BACKEND=m
# CONFIG_XEN_SCSI_FRONTEND is not set
CONFIG_XEN_SYMS=y
CONFIG_XEN_SYS_HYPERVISOR=y
