CONFIG_CRYPTO_CTS=m
CONFIG_CRYPTO_XTS=m
CONFIG_EXT4_FS=m
CONFIG_VFAT_FS=m
CONFIG_BUFFER_HEAD=y
CONFIG_CRC16=m
# CONFIG_EXT4_DEBUG is not set
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_EXT4_USE_FOR_EXT2=y
CONFIG_FAT_DEFAULT_CODEPAGE=437
CONFIG_FAT_DEFAULT_IOCHARSET="iso8859-1"
CONFIG_FAT_DEFAULT_UTF8=y
CONFIG_FAT_FS=m
CONFIG_FS_ENCRYPTION_ALGS=m
CONFIG_FS_MBCACHE=m
CONFIG_JBD2=m
# CONFIG_JBD2_DEBUG is not set
CONFIG_LEGACY_DIRECT_IO=y
