CONFIG_VIRTIO_CONSOLE=m
CONFIG_VIRTIO_MENU=y
CONFIG_BALLOON_COMPACTION=y
CONFIG_BLK_MQ_VIRTIO=y
# CONFIG_CRYPTO_DEV_VIRTIO is not set
# CONFIG_DRM_VIRTIO_GPU is not set
CONFIG_HW_RANDOM_VIRTIO=m
CONFIG_MEMORY_BALLOON=y
# CONFIG_NSM is not set
CONFIG_SCSI_VIRTIO=m
CONFIG_VIRTIO=m
CONFIG_VIRTIO_ANCHOR=y
CONFIG_VIRTIO_BALLOON=m
CONFIG_VIRTIO_BLK=m
# CONFIG_VIRTIO_DEBUG is not set
CONFIG_VIRTIO_INPUT=m
# CONFIG_VIRTIO_IOMMU is not set
CONFIG_VIRTIO_MMIO=m
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
# CONFIG_VIRTIO_NET is not set
CONFIG_VIRTIO_PCI=m
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=y
# CONFIG_VIRTIO_PCI_LEGACY is not set
CONFIG_VIRTIO_PCI_LIB=m
CONFIG_VIRTIO_PMEM=m
# CONFIG_XEN_VIRTIO is not set
